/* background  */

:root {
  --sidebar-width: 300px;
  --background-width: 70vw;
  --background-height: 30vh;
}

body {
  position: relative;
  overflow: hidden;
}

#background {
  background-color: blue;
  position: absolute;
}

.ellipse {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  opacity: 0.6;
  position: absolute;
  content: '';
}

/* yellow #edc31c */
/* pink #ffc2af */
/* white #f6e5de */
/* beige #ffefca */
/* brown #a48f5c */

.ellipse-1 {
  width: 600px;
  height: 600px;
  background: #edc31c90;
  top: -35vh;
  left: 10vw;
  filter: blur(40px);
}

.ellipse-2 {
  width: 600px;
  height: 600px;
  background: #ffc2af90;
  top: 7vh;
  left: -15vw;
  filter: blur(60px);
}

.ellipse-3 {
  background: #f6e5de;
  top: 65vh;
  left: 50vw;
  filter: blur(40px);
}

.ellipse-4 {
  background: #a48f5cc0;
  top: 80vh;
  left: 70vw;
  filter: blur(60px);
}

@media (min-width: 850px) {
  #background {
    left: 150px;
  }
}

/* Header */
body #main-wrapper .container header {
  background-color: transparent;
}

/* Footer */
footer {
  background-color: transparent;
}

body aside {
  /* background-color: transparent !important; */
}
